h1 {
  color: #ef677b;
  text-decoration: underline;
  font-size: 55px}
button {
  background-color: #fcd9d9;
  border: 1px solid #ea7889;
  border-radius: 4px;
  cursor: pointer;
  color: #030303;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

ul {
  background-color: #e5b5bc;
  border: 2px solid #e76b7e;
}

.custom-nav {
  background-color: #e08693;
}
