<!--
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Titel</title>
</head>
<body>
<h1 style="color: #ea7889; font-weight: bolder">{{title}}</h1>
<button (click)="getCars()">View all cars</button>
<button>Sign up your car</button>
<button>Update your car information</button>
<button>Remove a car</button>
<button>Look up your car</button>
</body>
</html> -->
<header class="header">
  <nav class = "navbar navbar-expand-sm custom-nav navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="cars" routerLinkActive="active" class="nav-link" style="color: #030303">Car List</a>
      </li>
      <li class="nav-item">
        <a routerLink="create-car" routerLinkActive="active" class="nav-link" style="color: #030303">Add Car</a>
      </li>
    </ul>
  </nav>
</header>

<h1 class="text-center"> {{title}} </h1>
<tr>
  <td></td>
</tr>
<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="container">
    <span>This could be your add.</span>
  </div>
</footer>




